<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<script>
	function fn_add(){	
		
		location.href="emp_add";	
	}
</script>
<body>
회원 목록<br>
<table border="1px solid black">
	<tr>
		<th>사번</th>
	  	<th>이름</th>
	  	<th>성별</th>
	  	<th>주소</th>
	</tr>
{% for e in emps %}
    <tr>
      <td><a href="emp_detail?e_id={{e.e_id}}">{{e.e_id}}</a></td>
      <td>{{e.e_name}}</td>
      <td>{{e.gen}}</td>
      <td>{{e.addr}}</td>
  	</tr>
{% endfor %}
</table>
<input type="button", value="추가" onclick="fn_add()">
</body>
</html>